/* RESET */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */

:root {
    /* FONTS */


    /* COLORS */
    --PRIMARY-COLOR: #843253;
    --BODY-BGCOLOR: #FFF;
    --HOVER: #dc91af;
    

    /* BORDERS */
    --BORDERS: 2px solid var(--PRIMARY-COLOR);
    --BORDER-RADIUS: 5px;

    /* STANARD MARGIN */
    --MARGIN-NAV: 0 35.5px 0 35.5px;

    /* NAVIGATION */
    --NAV-WIDTH: 173px;
    --NAV-HEIGHT: 30px;

}

/* GENERAL STYLES */

html {
    scroll-behavior: smooth;
    background-color: var(--PRIMARY-COLOR);
}

body {
    min-height: 100vh;
    max-width: 1100px;
    background-color: var(--BODY-BGCOLOR);
    margin: 0 auto;
    
}


a {
    color: var(--PRIMARY-COLOR);
    text-decoration: none;
}

a:hover {
    background-color: var(--HOVER);
    color: var(--BODY-BGCOLOR);
}

a:active {
    background-color: var(--PRIMARY-COLOR);
    color: var(--BODY-BGCOLOR);
}

/* UTILITY CLASS */

.center {
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
}

.center_hz {
    text-align: center;
}

/* INDEX PAGE */

.start_menu {
    display: flex;
    gap: 2rem;
    
}

.start_menu_item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border: var(--BORDERS);
    border-radius: var(--BORDER-RADIUS);
}

/* LOG IN PAGE */

.login {
    border: var(--BORDERS);
    border-radius: var(--BORDER-RADIUS);
    height: 300px;
    width: 400px;
    padding: 35px;
}

.login_header {
    background-color: var(--PRIMARY-COLOR);
    color: var(--BODY-BGCOLOR);
    padding: 5px;
    margin-top: -15px;
}

#signin_button {
    border: var(--BORDERS);
    padding: 5px 72.5px 5px 72.5px;
    border-radius: 5px;
}

#signin_access:hover {
    background-color: var(--BODY-BGCOR);
    color: var(--HOVER);
}

label {
    color: var(--PRIMARY-COLOR);
}

input {
    border: var(--BORDERS);
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 30px;
}

/* STUDENT PAGE */

.nav_menu {
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25px;
    border: var(--BORDERS);
    border-radius: var(--BORDER-RADIUS);
    margin: var(--MARGIN-NAV);
}

.nav_menu > a {
    border: none;
}
.nav_item {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--NAV-HEIGHT);
    width: var(--NAV-WIDTH);
}


